<header id="home-header" [ngClass]="{'header-fixed': isFixed}">
  <div class="container" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
    <div class="header-mobile-top" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
      <div class="home-logo mr-1">
          <img style="width:80px" src="assets/images/dark_logo_white_background.jpg" alt="Responsive image">
      </div>
      <button mat-icon-button id="menu-toggle" (click)="toggleMenu()"><mat-icon>menu</mat-icon></button>
    </div>
    <div fxFlex class="top-menu" fxLayoutAlign="start center">
      <button mat-button id="dashboard-topbtn1" class="hometop-btn" scrollTo="intro-section"><strong>Home</strong></button>
      <button mat-button id="dashboard-topbtn2" class="hometop-btn" scrollTo="about-section"><strong>About</strong></button>
      <button mat-button id="dashboard-topbtn3" class="hometop-btn" scrollTo="strategy-section"><strong>Strategy</strong></button>
      <button mat-button id="dashboard-topbtn4" class="hometop-btn" scrollTo="portfolio-section"><strong>Works</strong></button>
      <button mat-button id="dashboard-topbtn5" class="hometop-btn" scrollTo="testimonials-section"><strong>Our Team</strong></button>
      <button mat-button id="dashboard-topbtn6" class="hometop-btn" scrollTo="contact-section"><strong>Contact</strong></button>
      <button *ngIf="menuOpened" mat-button id="dashboard-topbtn7" class="hometop-btn" (click)="loadLiginScreen()"><strong>Login</strong></button>
    </div>

    <div fxFlex class="top-menu" fxLayoutAlign="end center">
      <button mat-button id="dashboard-topbtn" class="hometop-btn" (click)="loadLiginScreen()"><strong>Login</strong></button>
    </div>
  </div>


</header>
