#home-header-member {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding: 22px 0;
  background: white;
  transition: padding 0.3s linear;
  -webkit-transition: padding 0.3s linear;
  z-index: 999;
}

#home-header > .container {
  height: auto;
}

.hometop-btn:hover ::ng-deep .mat-button-focus-overlay {
  display: none;
}

#home-header:not(.header-fixed) .hometop-btn ::ng-deep .mat-button-ripple {
  top: -22px;
  bottom: -22px;
}

.header-fixed {
  position: fixed !important;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
  padding: 0 !important;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  animation: .6s slideDown forwards;
}

.header-fixed .container {
  height: 60px !important;
}

.header-fixed .hometop-btn {
  line-height: 60px !important;
}

.home-logo {
  display: flex;
  align-items: center;
}

#menu-toggle {
  display: block;
  position: absolute;
  right: 5px;
  top: 15px;
}




