<section  class="home-section light-gray" id="about-section">
  <div  class="container">
    <div  class="section-header">
      <h2 >Who are we ?</h2>
      <p >VisionHill Capital was founded in 2016 in order to provide Strategic, Financial, and Operational support to New and
        Existing Businesses. We aim at becoming a place where we can leverage the group effect to generate financial benefits
        on which to thrive and prosper.
      </p>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div   fxFlex="25">
        <mat-card  class="home-normal-card mat-card">
          <div  fxlayout="column" style="flex-direction: column; box-sizing: border-box; display: flex;">
            <span  fxflex="20px" style="flex: 1 1 20px; box-sizing: border-box; max-height: 20px; min-height: 20px;"></span>
            <h3  class="m-0 font-light">Mission</h3>
            <span  fxflex="20px" style="flex: 1 1 20px; box-sizing: border-box; max-height: 20px; min-height: 20px;"></span>
            <p  class="m-0 description">To organize and build the backbone vehicle for financial prosperity for our members and partners.
            </p>
            <span  fxflex="40px" style="flex: 1 1 40px; box-sizing: border-box; max-height: 40px; min-height: 40px;"></span>
          </div>
        </mat-card>
      </div>

      <div fxFlex="25">
        <mat-card  class="home-normal-card mat-card">
          <div  fxlayout="column" style="flex-direction: column; box-sizing: border-box; display: flex;">
            <span  fxflex="20px" style="flex: 1 1 20px; box-sizing: border-box; max-height: 20px; min-height: 20px;"></span>
            <h3  class="m-0 font-light">Vision</h3>
            <span  fxflex="20px" style="flex: 1 1 20px; box-sizing: border-box; max-height: 20px; min-height: 20px;"></span>
            <p  class="m-0 description">To become the leading investment marketplace for both startups and mature businesses with a portfolio spanning
              every continent.
            </p>
            <span  fxflex="40px" style="flex: 1 1 40px; box-sizing: border-box; max-height: 40px; min-height: 40px;"></span>
          </div>
        </mat-card>
      </div>

      <div fxFlex="25" >
        <mat-card  class="home-normal-card mat-card">
          <div  fxlayout="column" style="flex-direction: column; box-sizing: border-box; display: flex;">
            <span  fxflex="20px" style="flex: 1 1 20px; box-sizing: border-box; max-height: 20px; min-height: 20px;"></span>
            <h3  class="m-0 font-light">Values</h3>
            <span  fxflex="20px" style="flex: 1 1 20px; box-sizing: border-box; max-height: 20px; min-height: 20px;"></span>
            <li >Integrity</li>
            <li >Passion</li>
            <li >Excellence</li>
            <li >Discipline</li>
            <li >Transparency</li>
            <span  fxflex="40px" style="flex: 1 1 40px; box-sizing: border-box; max-height: 40px; min-height: 40px;"></span>
          </div>
        </mat-card>
      </div>

      <div  fxFlex="25">
        <mat-card  class="home-normal-card mat-card">
          <div  fxlayout="column" style="flex-direction: column; box-sizing: border-box; display: flex;">
            <span  fxflex="20px" style="flex: 1 1 20px; box-sizing: border-box; max-height: 20px; min-height: 20px;"></span>
            <h3  class="m-0 font-light">Goals and Objectives</h3>
            <span  fxflex="20px" style="flex: 1 1 20px; box-sizing: border-box; max-height: 20px; min-height: 20px;"></span>
            <li >Provide an Investment Channel for the Diaspora’s young entrepreneurs by identifying and investing in startups that
              meet VisionHill capital investment criteria.</li>
            <li >Build and empower businesses in emerging economies.
            </li>
            <span  fxflex="40px" style="flex: 1 1 40px; box-sizing: border-box; max-height: 40px; min-height: 40px;"></span>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</section>
