<section id="intro-section" class="home-intro-section">
  <div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
    <div fxFlex="80">
      <h1 class="home-intro-title">Engineering the perfect solution for you</h1>
      <div class="home-intro-desc">
        your needs...our solution...your means
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column">
        <span fxFlex="20px"></span>
        <button mat-raised-button mat-lg-button id="frontend-btn" scrollTo="service-section"><mat-icon>get_app</mat-icon>EXPLORE</button>
      </div>
    </div>
    <span fxFlex.lt-md="30px" fxFlex="0"></span>
  </div>
</section>
