<!-- <div fxFlex="100"> -->
<mat-card class="home-fancy-card">
  <div fxLayout="column">
    <div class="text-center">
      <mat-icon mat-card-icon>{{service.imagerUrl}}</mat-icon>
    </div>
    <span fxFlex="20px"></span>
    <h3 class="m-0 font-light">{{service.title}}</h3>
    <span fxFlex="20px"></span>
    <p class="m-0 description">{{service.description|truncate:40}}
    </p>
    <span fxFlex="40px"></span>
    <div>
      <button mat-button (click)="openDialog()">
        <strong class="text-muted">READ MORE</strong>
      </button>
    </div>
  </div>
</mat-card>
<!-- </div> -->
