<section class="home-section" id="strategy-section">
  <div class="container">
    <div class="section-header">
      <h2>Investment Strategy</h2>

    </div>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxflex="60" style="flex: 1 1 100%;">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab adipisci eius nisi placeat
          at.
        </p>
        <h3>Sectors and geography
        </h3>
        <p>While VH capital invests opportunistically, we focus on sectors that align with our philosophy and affect most people’s
          lives.</p>
        <h3>Investment Criteria</h3>
        <li>Market Opportunity </li>
        <li>Management Team </li>
        <li>Competitive advantage </li>
        <li>Market Validation </li>
        <li>Historical performance</li>
        <li>Return Projections</li>
      </div>
      <div fxflex="40" style="flex: 1 1 100%;">
        <img alt="Responsive image" src="assets/images/who.jpg">
      </div>

    </div>
  </div>
</section>
